<!--sets up the layout/structure of html page -->
<!DOCTYPE html>
<html>
	<head>
		<title> Bookmark Manager </title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">
	</head>
	<body>
		<%= partial :header %>
		<%= partial :flash %>
		<!-- yiled will take everything, ie from index.erb into the body-->
		<%= yield %>   

	</body>
</html>

